@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@400;500&display=swap');

.section {
    background: linear-gradient(180deg, #1B3368 0%, #0F1F42 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    gap:10px;
    padding:7%;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 5px;
    margin-left: 10%;
}

.hello {
    color: var(--white, #FFF);
    font-family: "Andada Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.name {
    color: var(--yellow, #FFDC84);
    font-family: Faustina;
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 80px; /* 98.958% */
}

.description {
    color: var(--white, #FFF);
    font-family: "Andada Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile-star {
    width: 40%;
    height: 40%;
    padding-right: 6%;
    
    /* Apply both animations */
    animation: 
        rotate-sway 6s ease-in-out infinite,
        twinkle 5s ease-in-out infinite;
    transform-origin: center center;
}

/* Rotation left-right */
@keyframes rotate-sway {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

/* Twinkle effect: opacity from 1 to 0.5 and back */
@keyframes twinkle {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
}
