
.interests-background {
    background-color: #0F1F42; /* set background color without overriding image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: -1%;
}


.interests-title {
    color: var(--white, #FFF);
    text-align: center;
    font-family: "Andada Pro";
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.star-group {
    z-index:0;
    height: 100%;
    width:100%;
    margin-left: 15%;
}


